{% extends 'layout.html.twig' %}

{% block title %}Licenciés{% endblock %}

{% block header %}
    
{% endblock %}
{% block body %}
{# <h1>{{ website }}</h1> #}
    <main class="container-fluid">
       {% include 'Includes/_planning.html.twig' %} 
    </main>
    
{% endblock %}