<header>
    <div class="card-presentation position-absolute top-50 start-50 translate-middle col-xl-12 col-xxl-6">
        <h1 class="text-center pb-3">LA BOXE ET SES BIENFAITS</h1>
        <div class="presentation  fs-3 fw-bold p-5">
        Muscle, force, endurance et coordination
        Au-delà de l'image du sport de combat que vous connaissez (ou pensez connaître), la boxe vous permet :<br>
        - D'augmenter le capital cardio-vasculaire, l'endurance et la respiration<br>
        - De développer les reflexes, l'agilité et la coordination<br>
        - De travailler les muscles et de tonifier le corps<br>
        - D'évacuer le stress et d'améliorer l'estime de soi
        </div>
    </div>
</header>
{# <div class="row text-center text-sm-center pt-5 pb-5 px-5">
        <div class="col-xl-6">
            <a class="col-12 col-sm-6 col-md-7 col-lg-8 col-sm-12 col rounded-pill border border-3 btn btn-light" type="btn" href="{{ path('particuliers') }}">PARTICULIERS</a>
        </div>
        <div class="col-xl-6">
            <a class="col-12 col-sm-6 col-md-7 col-lg-8 col-sm-12 rounded-pill border border-3 btn btn-light" type="btn" href="{{ path('entreprises') }}">ENTREPRISES</a>
        </div>
    </div> #}

