.bg-logo{
    width: 140px;
    height: 138px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

.navbar-title{
    color: $tertiary;
    // font-size: 60px;
    font-family: $big-title-font;
}

// .navbar{
//     min-height: 100vh;
// }